* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.opacity {
  opacity: 0;
}

.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

section {
  width: 100%;
  background-color: #151515;
  position: relative;

  img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  @media (max-width: 767px) {
    .container {
      grid-template-columns: 1fr;
      padding: 2.4rem;
    }
  }
}
