header {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 0;
  z-index: 80;
  overflow: hidden;

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }


    .logo {
      color: #fff;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;

      span {
        font-weight: 100;
      }

    }

  }

  .hamburger-menu {
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .bar {
      position: relative;
      width: 2.4rem;
      height: 3px;
      background-color: #fff;
      border-radius: 2px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 3rem;
        height: 3px;
        right: 0;
        background-color: #fff;
        border-radius: 2px;
      }

      &:before {
        transform: translateY(-8px);
      }

      &:after {
        transform: translateY(8px);
      }
    }

  }

  @media (max-width: 767px) {
    nav {
      .logo {
        font-size: 2.2rem;
        font-weight: 900;

        span {
          font-weight: 400;
        }
      }
    }
  }
}