@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800;900&display=swap");

$primary-font: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

$text-white: #f6f6f6;
$black: #2b2b2b;
$size: 42px;
